.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.infoCardWrapper{
    width: 60%;
}
.flexRow{
    display: flex;
}
.aboutCardWrapper{
    width: 60%;
    margin-left: 21%;
}
