.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}
.flexRow{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.profileBoxWrapper{
    width: 25%;
}
.infoCardWrapper{
    width: 50%;
}

.aboutCardWrapper{
    width: 100%;
    margin-left: 10px;
    /* margin-left: 21%; */
}
.match{
    width: 20%  ;
}
