.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #b23a48;
  gap: 50px;
  flex-shrink: 0;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profilePicWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 30px;
  color: aliceblue;
  font-weight: 600;
  position: relative;
}
.name {
  cursor: pointer;
  font-size: 18px;
}
.profilePic {
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  height: 80px;
  width: 160px;
  right: -30px;
  top: 30px;
  border-radius: 5px;
  z-index: 1;
}
.action {
  width: 100%;
  height: 50%;
  border: none;
  background: none;
  font-size: 17px;
  color: black;
  text-decoration: none;
  text-align: center;
}
.action:hover {
  cursor: pointer;
  color: #b23a48;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 200px;
  height: 20px;
  border-radius: 10px;
}

.notification {
  color: white;
  font-size: 17px;
  font-weight: 600px;
  cursor: pointer;
}

.notificationBox {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 20px;
  right: -200px;
  border-radius: 10px;
  z-index: 1;
  animation: move 0.5s 0s 1 forwards;
}

.slideAway{
  animation: moveaway 0.4s 0s forwards;
}


   


@keyframes move {
  0% {
    right: -510px;
  }
  100% {
    right: -200px;
  }
}

@keyframes moveaway {
  0% {right: -200px}
  100% {right: -610px}
}
