.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  position: relative;
}
.profileBoxWrapper {
  width: 25%;
  cursor: pointer;
}

.profileWindow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  position: absolute;
  right: -400px;
  transition: transform 4s ease;
}
.profileBoxWrapper {
    position: relative;
  width: 20%;
  height: 450px;
}
.infoCardWrapper {
  width: 50%;
}

.aboutCardWrapper {
  width: 100%;
  margin-left: 10px;
  /* margin-left: 21%; */
}
.match {
  width: 20%;
}
.backButton {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: brown;
  background-color: white;
  border: 1px solid brown;
  border-radius: 10px;
  cursor: pointer;

  /* transform: translateX(400px); */
}
.move {
  transform: translateX(-800px);
}
.hide{
    display: none;
}

.noMatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.noMatchMessage {
  font-size: 40px;
  font-weight: 600;
  color: brown;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4px;
  padding: 3px;
  position: absolute;
  top: 250px;
  /* right: 0; */
}

.ignore,
.accept {
  height: 25px;
  width: 80px;
  padding: 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 550;
}
.accept {
  background-color: green;
  color: white;
}
