.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    gap: 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    gap: 1%;
    box-shadow: 0 12px 30px rgba(165, 80, 100, 0.14);
}

.imageContainer{
    width: 16%;
    border-radius: 50%;
    overflow: hidden;
    height: 45px;
    cursor: pointer;
}

.image{
    height: 100%;
    object-fit: cover;
}

.subWrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.nameWrapper{
    display: flex;
}
.name{
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.replyWrapper{
    display: flex;
    gap: 5px;
}

.reply{
    font-size: 12px;
    color: black;
}
.replySpan{
    font-size: 11px;
    font-style: italic;
}

.actionWrapper{
    display: flex;
    flex-direction: column;
    width: 20%;
    float: right;
    gap: 5px;
}

.linkedinProfile{
    font-size: 12px;
}

.remove{
    font-size: 12px;
    color: red;
    cursor: pointer;
}



.displayFlex{
    display: flex;
}

.flexDirectionColumn{
    flex-direction: column;
}

.gap5px{
    gap: 5px;
}
.gap10px{
    gap: 10px;
}

/*=======WIDHT IN PERCENTAGE=============*/
.width10pc{
    width: 20%;
}

.width100pc{
    width: 100%;
}
/*=======WIDHT IN PERCENTAGE=============*/

.width90px{
    width: 90px;
}


/*-------------------------------------------*/

/*=======HEIGHT IN Pixels=============*/

.height40px{
    height: 50px;
}

/*=======HEIGHT IN Pixels=============*/

.height100pc{
    height: 100%;
}
.maxHeight250px{
    max-height: 250px;
}
.overFlowYAuto{
    overflow-y: auto;
}


/*=======BORDER PROPERTIES=============*/
.borderRadius50pc{
    border-radius: 50%;
}
/*=======BORDER PROPERTIES=============*/



/* ==========FONT SIZE IN PIXELS=========*/

.fontSize12px{
    font-size: 13px;
}
.fontSize11px{
    font-size: 11px;
}
/* ==========FONT SIZE IN PIXELS=========*/

.fontStyleItalic{
    font-style: oblique;
}


/* ==========FONT COLORS=========*/

.colorBlack{
    color: black;
}

.colorGrey{
    color: grey;
}






.boxShadow{
    box-shadow: 0 12px 30px rgba(165, 80, 100, 0.14);
}


.cursorPointer{
    cursor: pointer;
}


.objectFitCover{
    object-fit: cover;
}

.overFlowHidden{
    overflow: hidden;
}