.filterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: #d163794f; */
  width: 100%;
  /* padding: 30px; */
}
.filter{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
.filterDrop {
  width: 60%;
  height: 35px;
  border: 1px solid pink;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  color: rgb(53, 53, 53);
}

.filterYear {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.minYear,
.maxYear {
  width: 50%;
  height: 35px;
  border: 1px solid pink;
  border-radius: 10px;
  text-align: center;
}

.maxYear::placeholder,
.minYear::placeholder {
  font-size: 18px;
}

.filterType {
  width: 20%;
  font-size: 18px;
  color: #d85a73;
  font-weight: 600;
}

.filterButton{
  width: 100px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.red{
  background-color: red;
  color: white;
}

@media (max-width: 500px){
  .filterWrapper{
    /* background-color: #d16379fb; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    
  }
  .filter{
    justify-content: flex-start;
  }
  .filterType{
    width: calc(20% - 5px);
    font-size: 16px;  
    color: white;
  }
  .filterDrop{
    width: calc(70% - 5px);
  }
  .filterYear{
    width: calc(70% - 5px);
    margin-left: 5px;
  }
  .filterButton{
    margin: 10px;
  }
}
